<nb-card>
  
    <nb-card-header>
        <div class = "row">
        <div class = "col">
            Operations Order Placement
          </div>
          <button class="btn  btn-hero-success btn-rectangle btn-demo float-right"
                      (click) = "reset()" >
                      RESET     </button>  
                      </div>
        </nb-card-header>
  <nb-card-body>
    
    <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
    
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="messages && messages.length > 0" class="alert alert-success" role="alert">
     
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>

    <div class="alert alert-danger col-md-8">Note: All the fields are mandatory.</div>
    <div class="form-group row">
        <label for="orderCtr" class="col-sm-3 col-form-label heading"><strong>Total number of orders:</strong></label>
        <div class="col-sm-6">
          <input type="number" (input)="calculateqty()" [(ngModel)]="order.orderCtr" class="form-control" name="orderCtr" id="orderCtr" placeholder="Total number of orders">
        </div>
    </div>

    <div class="form-group row">
        <label for="percentageOfOrders" class="col-sm-3 col-form-label heading"><strong>Enter Percentage of orders for fields below:</strong></label>
    </div>
    <div class="alert alert-danger col-md-8" *ngIf="percentAlert">Note: Total Percentage should be equal to 100</div>
   
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="1L1Q">1L1Q Orders (1 Line 1 qty):</label>
          <input type="number" [(ngModel)]="order.pL1Q1" (input)="validatePercentage()" class="form-control" name="1L1Q" id="1L1Q" placeholder="% of 1L1Q Orders">
        </div>
      </div>

      <div class="col-sm-6">
          <div class="form-group">
            <label for="1L2Q">1L2Q Orders (1 Line 2 qty):</label>
            <input type="number" [(ngModel)]="order.pL1Q2" (input)="validatePercentage()" class="form-control" name="1L2Q" id="1L2Q" placeholder="% of 1L2Q Orders">
          </div>
      </div>

<!--
      <div class="col-sm-6">
          <div class="form-group">
            <label for="1L3Q">1L3Q Orders (1 Line 3 qty):</label>
            <input type="number" [(ngModel)]="order.O1L3Q" class="form-control" name="1L3Q" id="1L3Q" placeholder="% of 1L3Q Orders">
          </div>
      </div>
-->      
      <div class="col-sm-6">
          <div class="form-group">
            <label for="2L1Q">2L1Q Orders (2 Line 1 qty):</label>
            <input type="number" [(ngModel)]="order.pL2Q1" (input)="validatePercentage()" class="form-control" name="2L1Q" id="2L1Q" placeholder="% of 2L1Q Orders">
          </div>
      </div>
<!--
      <div class="col-sm-6">
          <div class="form-group">
            <label for="2L2Q">2L2Q Orders (2 Line 2 qty):</label>
            <input type="number" [(ngModel)]="order.O2L2Q" class="form-control" name="2L2Q" id="2L2Q" placeholder="% of 2L2Q Orders">
          </div>
      </div>
-->    
      
      <div class="col-sm-6">
          <div class="form-group">
            <label for="3L1Q">3L1Q Orders (3 Line 1 qty):</label>
            <input type="number" [(ngModel)]="order.pL3Q1" (input)="validatePercentage()" class="form-control" name="3L1Q" id="3L1Q" placeholder="% of 3L1Q Orders">
          </div>
      </div>

<!--      
      <div class="col-sm-6">
          <div class="form-group">
            <label for="3L2Q">3L2Q Orders (3 Line 2 qty):</label>
            <input type="number" [(ngModel)]="order.O3L2Q" class="form-control" name="3L2Q" id="3L2Q" placeholder="% of 3L2Q Orders">
          </div>
      </div>
-->

      <div class="col-sm-6">
          <div class="form-group">
            <label for="4L1Q">4L1Q Orders (4 Line 1 qty):</label>
            <input type="number" [(ngModel)]="order.pL4Q1" (input)="validatePercentage()" class="form-control" name="4L1Q" id="4L1Q" placeholder="% of 4L1Q Orders">
          </div>
      </div>

<!--      
      <div class="col-sm-6">
          <div class="form-group">
            <label for="5L1Q">5L1Q Orders (5 Line 1 qty):</label>
            <input type="number" [(ngModel)]="order.O5L1Q" class="form-control" name="5L1Q" id="5L1Q" placeholder="5L1Q Orders">
          </div>
      </div>
-->      
    </div>
    
    <div class="form-group row">
        <label for="orderedqty" *ngIf="!percentAlert" class="col-sm-3 col-form-label heading"><strong>Minimum qty required for Orders: {{orderedqty}} </strong></label>
        <label for="orderedqty" *ngIf="percentAlert" class="col-sm-3 col-form-label heading"><strong>Minimum qty required for Orders: 0 </strong></label>
    </div>

    <div class="form-group row">
        <label for="skuQty" class="col-sm-9 col-form-label heading"><strong>Enter item and qty available in the system and click Add button:</strong></label>
    </div>

    
        <div class = "form-group row">
  <!--        <div class="alert alert-danger col-md-8" *ngIf="alert">Note: You cannot withdraw more than {{(balance - multiAmount).toFixed(7)}} {{cryptoUnit}}</div>
          <div *ngIf="!alert" class ="col-md-8">Note: You cannot withdraw more than {{(balance - multiAmount).toFixed(7)}} {{cryptoUnit}}</div>
          <div class="alert alert-danger col-md-8" *ngIf="showDuplicateAddressError">Please enter a different address!</div>
          -->
          <div class="col-md-12">

              <div class="row col-md-12">
                  <label class="col-md-6 col-form-label">item</label>
                  <label  class="col-md-5 col-form-label">qty</label>
                  
              </div>
              <div class="row col-md-12">
                  <input #newSku type="text" name="address" class="form-control col-md-6" id="address" placeholder="item">
                  <input #newqty type="number"  name="withdrawAmount" class="form-control col-md-4" id="withdrawAmount" placeholder="qty">
                  <button class="btn btn-success btn-primary btn-xs" nbPopover="Click to add new item and qty." nbPopoverMode="hover" (click)="addSku(newSku.value, newqty.value)">Add</button>
              </div>
          </div>
        </div>  
    
        <table class="table table-bordered col-md-9" *ngIf = "itemQtyArray.length > 0" >
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">item</th>
                    <th scope="col">qty</th>
                    
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sku of itemQtyArray">
                    <th scope="row">{{sku.id}}</th>
                    <td>{{sku.item}}</td>
                    <td>{{sku.qty}}</td>
                    <th scope="col" value="sku.id" (click)="deleteSku(sku.id)"><i class="nb-trash" style="font-size: 2em;"></i></th>
                </tr>
            </tbody>
        </table>

        <div class="form-group row">
            <label for="totalqty" *ngIf="itemQtyArray.length > 0" class="col-sm-3 col-form-label heading"><strong>Total Available Inventory: {{totalqty}} </strong></label>
            <label for="totalqty" *ngIf="itemQtyArray.length == 0" class="col-sm-3 col-form-label heading"><strong>Total Available Inventory: 0</strong></label>
        </div>
    
    <button type="submit" [disabled]="disable" class="btn  btn-hero-success btn-rectangle" (click)="sendOrderData()">Submit</button>
  </nb-card-body>
</nb-card>